 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght=300;400;500;600;700&display=swap');
        
        body { 
            font-family: 'Plus Jakarta Sans', sans-serif; 
            background: #060913; 
        }

        html {
            scrollbar-gutter: stable;
        }

        .no-scrollbar::-webkit-scrollbar { display: none; }
        .no-scrollbar {
            scrollbar-width: none;
            -ms-overflow-style: none;
        }